<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/projectPost.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>{{pageTitle}} </title>
</head>
<body>
    @include('includes.nav')
    <div class="grid">
    @each(project in projs)
    <article id="card" class="card">
        <div class="card-head">
        <img src="{{project.userAvatar}}">
            <ul>
            <li class="name">{{project.projectUser}}</li>
                <li class="type">{{project.projectType}} </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="title">{{project.title}} </p>
                    <p>
                       {{project.description}}
                    </p>
                </div>
                <div class="col">
                <img src="{{project.imagePath}}">
                </div>
            </div>
        </div>
        <div class="card-foot">
        <input type="hidden" name="projectId" value="{{project.id}}">
           <ul class="right">
               <li><button onclick="addLike(this)" class="btn btn-link"><i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:150%;"></i></button></li>
           <li><a href='/add-comment/{{project.id}}'>Comment</a></li>
               <li class="ratting-wrapper">
                   <input type="radio" name="rating" id="star-1" value="5" onclick="addRating(this)"><label for="star-1"></label>
                   <input type="radio" name="rating" id="star-2" value="4" onclick="addRating(this)"><label for="star-2"></label>
                   <input type="radio" name="rating" id="star-3" value="3" onclick="addRating(this)"><label for="star-3"></label>
                   <input type="radio" name="rating" id="star-4" value="2" onclick="addRating(this)"><label for="star-4"></label>
                   <input type="radio" name="rating" id="star-5" value="1" onclick="addRating(this)"><label for="star-5"></label>
               </li>
               <li  class="left"><a href='/projects/{{project.id}}'>Details</a></li>
           </ul>


        </div>
    </article>
    @else
      <h2>No project found!</h2>
    @endeach
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/js/async.js"></script>

</body>
</html>
