<!doctype html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/description.css">
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
  <title>{{pageTitle}} </title>
</head>
<body>
<div class="card m-sm-1 m-md-2 m-lg-3">
    <!-- Navbar -->
  <header>

    <nav  class="navbar navbar-expand-lg navbar-dark    ">
      <a class="navbar-brand " href="#">Navbar</a>
      <button onclick="openNav()" id="menuphone" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div id="rolling_bar">
            <input class="colortypingg" type="text" id="txxt"  placeholder="search developer or project">
              <a href="#" id="bbtn">
                <h3><strong>|</strong></h3><i class="fas fa-search"></i>
              </a>

        </div>

        <ul class="navbar-nav mr-auto">
          <li id="margli" class="nav-item">
          </li>
        </ul>

        <ul id="margul1" class="navbar-nav mr-auto">
          <li id="margli" class="nav-item active">
            <a class="nav-link" href="/projects"><strong>Home</strong> <span class="sr-only">(current)</span></a>
          </li>
          <li id="margli" class="nav-item active">
            <a class="nav-link" href="#"><strong>Messages</strong> <span class="sr-only">(current)</span></a>
          </li>
          <li id="margli" class="nav-item active">
            <a class="nav-link" href="/notifications"><strong>Notifications</strong> <span class="sr-only">(current)</span></a>
          </li>
          <li id="margli" class="nav-item active">
            <a class="nav-link" href="/me"><strong>Profile</strong> <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul id="margul2" class="navbar-nav mr-auto">

          <li id="margli2" class="nav-item">
            <img class="nav-link" href="#" id="imgbuff" src="/img/icon_buffer-512.png" alt="icon_buffer-512.png">
          </li>
          <li id="margli22" class="nav-item">
            <a class="nav-link" href="/search"><strong>projects &</br>developers</strong>  </a>
          </li>

        </ul>

      </div>

    </nav>



            <div id="mobile__menu" class="overlay">
                <a class="close" onclick="closeNav()">&times;</a>
                <div class="overlay__content">
                    <a href="#">home</a>
                    <a href="#">Messages</a>
                    <a href="#">Notifications</a>
                    <a href="#">Profile</a>
                    <div id="rolling_bar">
                      <input class="colortypingg" type="text" id="txxt"  placeholder="search developer or project">
                      <a href="#" id="bbtn">
                        <h3><strong>|</strong></h3><i class="fas fa-search"></i>
                      </a>

                    </div>
                </div>
            </div>
            </header>
  <!--end nav barre -->
    <main>
      @if(project)
      <div class="row align-item-center">
         <div class="col-xl-4">
            <div class="row">
              <div class="box1">
                 <img src="/img/{{project.projectType}}.jpg" height="150px" width="325px">
              <h5>{{project.projectType}}</h5>
              </div>
              <div class="box2">
                  <img src="/img/user.png" width="350px" height="150px" style="margin-right: auto;margin-left: auto;">
              <h3>{{user.userName}}</h3>
                  <h5>Co-Founder & CTO</h5>
                  <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do elusmod tempor incididunt ut-ero</p>
                 <div class="btn">
                    <ul>
                      <li><a href="#" class="btn btn-primary btn-sm">Contact</a></li>
                      <li><a href="#" class="btn btn-primary btn-sm">Profile</a></li>
                    </ul>
                 </div>
              </div> 
            </div>
          </div>  
         <div class="col-xl-4 box3">
            <div class="row">
                <div class="box3">
                <h1>{{project.title}}</h1>
                   <p class="p2">{{project.description}}
                   <span id="dots">...</span><span id="more">
                    {{project.description}}</span></p>
                   <button class="btn-sm" id="read" onclick="read()">...</button>          
                  </div>
                <div class="box4">
                       <img src="/img/videop.png" width="125px" height="125px">
                       <img src="/img/add.png" class="plus" width="100px" height="100px">
                </div>
            </div>
         </div>
         <div class="col-xl-4 box5">
            <img src="/{{project.imagePath}}" width="400px" height="650px">
         </div>
      </div>
      @else 
      <h2>this project not found</h2>
      @endif
    </main>
</div> 


  <script type="text/javascript" src="/js/projectDescription.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>