




body{background-color: #E9EBEE;}


img {
  max-width: 100%; }


  .content {
    float: left;
    padding: 1.875em;
    width: 100%; }

      .card {
        margin-bottom: 1em;
        border-radius: 5px;
        padding: 0;

        }

        #pub11{
          padding: 0%;
        }

        #prjtxt2{
        color: #989898;
        margin-left: 4px;
        position: absolute;
        text-align: left;
        }
        #prjtxt3{
        color: #989898;
        position: relative;
        float: right;
        margin-right: 4px;
        }
        #pubbb{
          position: absolute;
          right: -100px;
        }

#blah2{
  opacity: 1;
  width: 10%;
  height: 85%;
  top: 2%;
  margin-left: -12px;
  cursor:pointer;
  box-sizing:border-box;
  overflow:hidden;
  position:relative;
}
#prjtxt{
margin-top:-45px;
margin-left: 70px;}

#prjtxt2{


color: #989898;

}
#content2{
  padding: 0em;

}

   .rating a {
      color: #aaa;
      text-decoration: none;
      font-size: 1em;
      transition: color .4s;

   }
   .rating a:hover,
   .rating a:focus {
      color: orange;
      cursor: pointer;
   }
   .rating a:hover ~ a,
   .rating a:focus ~ a {
      color: orange;
   }
   .rating a {
      float: right;
   }




img {
  max-width: 100%; }


  .content {
    float: left;
    padding: 1.875em;
    width: 100%; }

      .card {
        margin-bottom: 1em;
        border-radius: 5px;
        padding: 0;


        }

        #Messaging{margin-top: 4px;
            padding-bottom: -2px;

        }
body{background-color: #E9EBEE;}
#pubbb{
  margin-left: 2px;
  position: absolute;
}
#pub11{
  padding: 0%;
}
#pub111{
  padding: 0%;
  width: 120%;
}
#pub1111{
  padding: 0%;
  width: 70%;
}
#pu{
margin-bottom: -120px;
}
#share{
  bottom: -18px;
  left: 75px;
  border-width:2px;
  border-color: white;
  position: relative;
  overflow: hidden;
}
#inputt {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}


.container{max-width:110%; margin:auto;background: #ffffff ;padding: 0px; }
img{ max-width:100%;}
.inbox_people {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  overflow: scroll;
  width: 40%; border-right:1px solid #c4c4c4;
}
::-webkit-scrollbar {
    display: none;
}
.inbox_msg {
  background: #ffffff ;
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%;
  border: transparent;
}
.headind_srch{overflow:hidden; border-bottom:1px solid #c4c4c4; }

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ outline: none; border:transparent; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}


.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  outline: none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn2 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 40px;
  top: 11px;
  width: 33px;
}
.msg_send_btn1 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 0px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
input{
  border-color: transparent;
  padding-top: 0px;
}



 @media only screen and (max-width:   956px) {


   #noot{
     position: absolute;
   }
   #noot2{
     width: 120%;
   }
   #sharr{
     position: absolute;
     z-index: 1;
     float: left;
     top: 120%;
     left: 75%;
   }

   #share{
     bottom: 0px;
     left: 0px;
     width: 90%;
     border-width:2px;
     border-color: white;
     position: relative;
     overflow: hidden;
   }
   #txtshare{
     position: absolute;
     top: -47%;
   }

   #prjtxt2{
   color: #989898;
   margin-left: 4px;
   position: absolute;
   text-align: left;
   font-size: 0.7rem;
   }
   #prjtxt3{
   color: #989898;
   position: relative;
   float: right;
   margin-right: 4px;
   font-size: 0.7rem;
   }
   p{font-size:0.7rem;}
   #prjtxt{
     font-size: 1rem;
   }


 }


  @media only screen and (max-width:   767px) {
    #pubbb{
      display: none;
      position: absolute;
      right:40px;
    }
    #shr{
      display: none;
    }
    #pu{
      display: none;
    }
  }
