
  .custom-file input[type="file"]{
    opacity: 0;
    width: 104%;
    height: 259%;
    top: -202px;
    max-height: 148px;
  cursor:pointer;
  border-radius:50%;
  border:1px solid black;
  box-sizing:border-box;
  overflow:hidden;
  position:relative;
  }

.avatar{
  width:fit-content;
  position:relative;
  margin-left: 120%;
  margin-top: -35%;
}

.avatar-container{
  cursor:pointer;
  border-radius:50%;
  border:#F2EEEE;
  box-sizing:border-box;
  overflow:hidden;
  position:relative;
}

.avatar-image{
  border-radius:50%;
  height:100%;
  width:auto;
}
.avatar-size{
  width:10rem;
  height:10rem;
}
.edit-container{
opacity:1;
transition:opacity 0.2s ease-in-out;
background-color: #F2EEEE;
bottom:0;
height:100%;
left: 0;
position: absolute;
right: 0;
opacity:0.8;
text-align:center;
font-size:200%;
border-color: red;
}
.avatar-container:hover .edit-container{
  opacity:0.5;
}
