

body{
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #FFFFFF;
font-family: 'Poppins' ,sans-serif;
}

p{color:#2699FB}
h5{color:#2699FB}
.titre1{

  text-align: justify;
  margin-left: 10px;

}


.titre{
  color: #007FEB;
  position: absolute;
  background: ##FFFFFF;
  bottom:0px;




}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 border-radius: 8px;
 max-height: 100px;
 max-width: 150px;
 width: 50px;
 height:100px;
}


.card{
position: relative;
background: ##FFFFFF;
width: 400px;
height: 400px;
margin: 0 auto;
}

.card .content {
  width: 400px;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

.card .content a{
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 600;
}

.card .sliderText {
position: relative;
width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
}

.card .sliderText h3 {
color: #FFFFFF;
font-size: 3em;
}
.swiper-slide
 {
   width: 400px;

  }
  .p {color:#2699FB;}
p.tt{color: #007FEB}
